body{
    background-color: rgb(138, 229, 198);
    color: rgb(12, 7, 1);
    font-family: "Roboto", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0px;
}
button{
    background-color: rgb(169, 215, 245);
    color: rgb(97, 144, 142);
    font-size: 18px;
}
.passo{
    display: none;
}
.passo.ativo{
    display: block;
}
main{
    text-align: center;
    max-width: 90%;
    font-size: 20px;
  }
img{
    max-width: 50%;
}